/* Main container styling */
.main-container {
  text-align: center;
  background: url('assets/home-background.jpg') no-repeat center center fixed; 
  background-size: cover;
  color: white; /* Adjust based on your monochromatic color scheme */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header styling */
.header {
  padding: 20px;
  background-color: #000; /* Or any color that matches your monochromatic theme */
  color: white;
}

/* Chatbot container styling */
.chatbot-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional styling for chatbot container, if needed */
}

/* Footer styling */
.footer {
  padding: 20px;
  background-color: #000; /* Adjust to match your theme */
  color: white;
  text-align: center;
}

